.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &::-webkit-scrollbar {
        display: none;
    }
    .segment {
        height: 100%;
        overflow: scroll;
    }

    .right {
        flex: 1;
        height: 100%;
    }


}
